@import '../Constants.scss';

.AutoSizeTextArea__textarea {
	// Will be overridden by JS.
	height: $grid;
	border: $border;
	resize: vertical;
	box-sizing: border-box;
	padding: $inputPadding;
	border-radius: $borderRadius;
}